<div class="media" id="page3" >

<div class="headline1" >
	
		<h1> Media</h1>
		<p class="subtitle"> Podcast </p>	
	</div>
	
				<div class="ia-container">
				
					<figure>
						<img src="images/pastoravatar.jpg" alt="image01" />
						<input type="radio" name="radio-set" checked="checked"/>
						<figcaption><span>True Colors</span></figcaption>
						
						<figure>
							<img src="images/pastoravatar.jpg" alt="image02" />
							<input type="radio" name="radio-set" />
							<figcaption><span>Honest Light</span></figcaption>
							
							<figure>
								<img src="images/pastoravatar.jpg" alt="image03" />
								<input type="radio" name="radio-set" />
								<figcaption><span>Silent Serenity</span></figcaption>
								
								<figure>
									<img src="images/pastoravatar.jpg" alt="image04" />
									<input type="radio" name="radio-set" />
									<figcaption><span>Warm Welcome</span></figcaption>
									
									<figure>
										<img src="images/pastoravatar.jpg" alt="image05" />
										<input type="radio" name="radio-set" />
										<figcaption><span>Sensible Magic</span></figcaption>
										
										<figure>
											<img src="images/pastoravatar.jpg" alt="image06" />
											<input type="radio" name="radio-set" />
											<figcaption><span>Lovely Midnight</span></figcaption>
								
											<figure>
												<img src="images/pastoravatar.jpg" alt="image07" />
												<input type="radio" name="radio-set" />
												<figcaption><span>Illuminated Darkness</span></figcaption>											

												<figure>
													<img src="images/pastoravatar.jpg" alt="image08" />
													<input id="ia-selector-last" type="radio" name="radio-set" />
													<figcaption><span>Happy Child</span></figcaption>
												</figure>
												
											</figure>
								
										</figure>	
											
									</figure>	
										
								</figure>
									
							</figure>
							
						</figure>
						
					</figure>
					
				</div><!-- ia-container -->
	
</div>